In [40]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' 

import kagglehub
path = kagglehub.dataset_download("fedesoriano/heart-failure-prediction")

import pandas as pd
df = pd.read_csv(path + '/heart.csv') 
df.head()

y = df['HeartDisease']
df.drop('HeartDisease', axis = 'columns', inplace=True) 
df.head()

import numpy as np
cols = df.select_dtypes(include = [np.number]).columns
cols
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().set_output(transform="pandas")
df[cols] = scaler.fit_transform(df[cols])
df.head()

df['Sex'].unique()
df['Sex'] = df['Sex'].map({'M': 0, 'F': 1}) 
df['ExerciseAngina'].unique()
df['ExerciseAngina'] = df['ExerciseAngina'].map({'N': 0, 'Y': 1})
df['RestingECG'].unique()
df['ST_Slope'].unique()
df['ChestPainType'].unique()
df = pd.get_dummies(df, drop_first=True)
df.head()
X = df

from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
scores = cross_val_score(SVC(), X, y, cv = 5) 
scores.mean()
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5) 
scores.mean()

from sklearn.ensemble import BaggingClassifier
# model = BaggingClassifier(estimator=SVC(), n_estimators=50, max_samples=0.8, oob_score=True)
model = BaggingClassifier(estimator=SVC(), n_estimators=50, oob_score=True)
scores = cross_val_score(model, X, y, cv = 5) 
scores.mean()
# model = BaggingClassifier(estimator=DecisionTreeClassifier(), n_estimators=50, max_samples=0.8, oob_score=True)
model = BaggingClassifier(estimator=DecisionTreeClassifier(), n_estimators=50, oob_score=True)
scores = cross_val_score(model, X, y, cv = 5) 
scores.mean()

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up

Index(['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak'], dtype='object')

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,-1.433140,M,ATA,0.410909,0.825070,-0.551341,Normal,1.382928,N,-0.832432,Up
1,-0.478484,F,NAP,1.491752,-0.171961,-0.551341,Normal,0.754157,N,0.105664,Flat
2,-1.751359,M,ATA,-0.129513,0.770188,-0.551341,ST,-1.525138,N,-0.832432,Up
3,-0.584556,F,ASY,0.302825,0.139040,-0.551341,Normal,-1.132156,Y,0.574711,Flat
4,0.051881,M,NAP,0.951331,-0.034755,-0.551341,Normal,-0.581981,N,-0.832432,Up

array(['M', 'F'], dtype=object)

array(['N', 'Y'], dtype=object)

array(['Normal', 'ST', 'LVH'], dtype=object)

array(['Up', 'Flat', 'Down'], dtype=object)

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up
0,-1.433140,0,0.410909,0.825070,-0.551341,1.382928,0,-0.832432,True,False,False,True,False,False,True
1,-0.478484,1,1.491752,-0.171961,-0.551341,0.754157,0,0.105664,False,True,False,True,False,True,False
2,-1.751359,0,-0.129513,0.770188,-0.551341,-1.525138,0,-0.832432,True,False,False,False,True,False,True
3,-0.584556,1,0.302825,0.139040,-0.551341,-1.132156,1,0.574711,False,False,False,True,False,True,False
4,0.051881,0,0.951331,-0.034755,-0.551341,-0.581981,0,-0.832432,False,True,False,True,False,False,True

np.float64(0.8332561178427179)

np.float64(0.7188643383226418)

np.float64(0.8299655500118792)

np.float64(0.7929377524352578)